In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("t00.csv",index_col=0,parse_dates=True)

In [15]:
df["volume_ratio"] = df["volume"]/df["volume_mean"]
df["volume_ratio3"] = df["volume"].rolling(3).mean()/df["volume_mean"].rolling(3).mean()
df["volume_ratio5"] = df["volume"].rolling(5).mean()/df["volume_mean"].rolling(5).mean()
df["minchange"] = df["price"].pct_change()
df["minchange3"] = df["price"].pct_change(3)
df["minchange5"] = df["price"].pct_change(5)
df["momentum"] = df["minchange"] * df["volume_ratio"]
df["momentum3"] = df["minchange3"] * df["volume_ratio3"]
df["momentum5"] = df["minchange5"] * df["volume_ratio5"]

In [16]:
df.tail(3)

,change,price,volume,volume_mean,volume_ratio,volume_ratio3,volume_ratio5,minchange,minchange3,minchange4,minchange5,momentum,momentum3,momentum5
2016-12-30 14:57:00,1.000528,6473.794,569100.0,464070.0,1.226324,1.196813,1.219388,0.000005,0.000280,-0.000037,-0.000037,0.000006,0.000335,-0.000045
2016-12-30 14:58:00,1.000528,6473.794,0.0,0.0,NaN,1.211054,1.197964,0.000000,0.000141,0.000016,0.000016,NaN,0.000170,0.000019
2016-12-30 14:59:00,1.000528,6473.794,0.0,0.0,NaN,1.226324,1.196813,0.000000,0.000005,0.000280,0.000280,NaN,0.000006,0.000335

In [17]:
wave_change_se = pd.Series()
wave_volume_ratio_se = pd.Series()
wave_result_se = pd.Series()
min_result3_se = pd.Series()
min_result5_se = pd.Series()
close_result_se = pd.Series()
last_buy = None
last_sell = None
volume_sum = 0
volume_mean_sum = 0
for index,row in df.iterrows():
    if index.strftime("%H:%m") == "09:30":

SyntaxError: invalid syntax (<ipython-input-17-b4c00b6223ba>, line 12)